In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Practicum/v1/sev_df.csv')

Add log payment column

In [ ]:
df['LOG_TOTALPMT'] = df['TOTALPMT_ADJ'].apply(lambda x: np.log(x))

II. Exclude rows where outside 5 and 95 percentiles of TOTALPMT_ADJ

In [ ]:
min_pmt = df['TOTALPMT_ADJ'].quantile(0.05)
max_pmt = df['TOTALPMT_ADJ'].quantile(0.95)

In [ ]:
df = df[(df.TOTALPMT_ADJ > min_pmt) & (df.TOTALPMT_ADJ < max_pmt)]

In [ ]:
df

,LICNSTAT,PRACTAGE,LICNFELD,ALEGATN1,OUTCOME,TOTALPMT_ADJ,LOG_TOTALPMT
0,AZ,30.0,Allopathic Physician (MD),Improper Performance,Death,1.389440e+05,11.841826
1,PA,50.0,Allopathic Physician (MD),Delay in Diagnosis,Death,1.781333e+05,12.090287
2,SD,50.0,Prof. Counselor,"Patient History, Exam, or Workup Problem",Death,2.493866e+05,12.426760
3,NJ,20.0,Physical Therapist,Wrong Procedure or Treatment,Minor Temporary Injury,1.104426e+05,11.612251
5,TX,60.0,Allopathic Physician (MD),Failure to Order Appropriate Test,Minor Permanent Injury,4.488958e+05,13.014546
...,...,...,...,...,...,...,...
223921,AR,40.0,Allopathic Physician (MD),Wrong or Misdiagnosis (e.g. Original Diagnosis...,Minor Permanent Injury,1.034921e+06,13.849836
223922,NC,30.0,Physician Resident (MD),Failure to Diagnose,Major Permanent Injury,2.340274e+04,10.060609
223923,NC,20.0,Physician Resident (MD),Failure to Diagnose,Minor Permanent Injury,2.340274e+04,10.060609
223924,NE,60.0,Allopathic Physician (MD),Improper Performance,Minor Permanent Injury,4.628543e+05,13.045168
223925,OH,50.0,Allopathic Physician (MD),Failure to Diagnose,Death,2.028238e+05,12.220093

201,243 rows remain after the exclusion

III. Train test split

Identify response variables

In [ ]:
X = df.drop('TOTALPMT_ADJ',axis=1).drop('LOG_TOTALPMT', axis=1)
y = df[['TOTALPMT_ADJ','LOG_TOTALPMT']]

Change PRACTAGE into a categorical variable

In [ ]:
X['PRACTAGE'] = pd.Categorical(X.PRACTAGE)

In [ ]:
X = pd.get_dummies(X)

In [ ]:
X

,LICNSTAT_AK,LICNSTAT_AL,LICNSTAT_AR,LICNSTAT_AZ,LICNSTAT_CA,LICNSTAT_CO,LICNSTAT_CT,LICNSTAT_DC,LICNSTAT_DE,LICNSTAT_FL,...,OUTCOME_Cannot Be Determined from Available Records,OUTCOME_Death,OUTCOME_Emotional Injury Only,OUTCOME_Insignificant Injury,OUTCOME_Major Permanent Injury,OUTCOME_Major Temporary Injury,OUTCOME_Minor Permanent Injury,OUTCOME_Minor Temporary Injury,"OUTCOME_Quadriplegic, Brain Damage, Lifelong Care",OUTCOME_Significant Permanent Injury
0,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223921,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
223922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
223923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
223924,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
223925,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

Split

In [ ]:
# Train Test split is 0.8, 0.2
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,train_size=0.8)

In [ ]:
train_df = pd.merge(X_train, y_train, left_index=True, right_index=True)
test_df = pd.merge(X_test, y_test, left_index=True, right_index=True)

IV. Export to csv

Test df to be used only in final evaluation

In [ ]:
train_df.to_csv('/content/drive/MyDrive/Practicum/v1/train_df.csv', index = False)  
test_df.to_csv('/content/drive/MyDrive/Practicum/v1/test_df.csv', index = False)