In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Practicum/v1/prob_train_df.csv')

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/Practicum/v1/prob_test_df.csv')

In [ ]:
X = df.drop('PMT',axis=1)
y = df[['PMT']]

In [ ]:
X

,LICNSTAT_AK,LICNSTAT_AL,LICNSTAT_AR,LICNSTAT_AZ,LICNSTAT_CA,LICNSTAT_CO,LICNSTAT_CT,LICNSTAT_DC,LICNSTAT_DE,LICNSTAT_FL,...,ALEGATN1_Wrong Dosage Dispensed,ALEGATN1_Wrong Dosage Ordered of Correct Medication,ALEGATN1_Wrong Equipment,ALEGATN1_Wrong Medication Administered,ALEGATN1_Wrong Medication Dispensed,ALEGATN1_Wrong Medication Ordered,ALEGATN1_Wrong Patient,ALEGATN1_Wrong Procedure or Treatment,ALEGATN1_Wrong or Misdiagnosis (e.g. Original Diagnosis is Incorrect),ALEGATN1_Wrongful Life/Birth
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246157,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1246158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1246159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV

#Create a Gaussian Classifier
nb= GaussianNB()

In [ ]:
nb.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
X_test = test_df.drop('PMT',axis=1)
y_test = test_df[['PMT']]

In [ ]:
y_pred=nb.predict(X_test)

In [ ]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
metrics.accuracy_score(y_test, y_pred)

0.8826478697827894

In [ ]:
metrics.confusion_matrix(y_test, y_pred)

array([[260653,   6102],
       [ 30458,  14328]])