In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Practicum/v1/df')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (12,22,23,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df = df[['LICNSTAT','PRACTAGE','Label_LICNFELD','Label_ALEGATN1','PMT']]

In [ ]:
df.rename(columns = {'Label_LICNFELD':'LICNFELD', 'Label_ALEGATN1':'ALEGATN1'}, inplace = True)

In [ ]:
df.to_csv('/content/drive/MyDrive/Practicum/v1/prob_df', index = False)

In [ ]:
df['PRACTAGE'] = pd.Categorical(df.PRACTAGE)

In [ ]:
df = pd.get_dummies(df)

I. Split to train and test. We want 80-20 split, with proportional cases of 1s and 0s.

In [ ]:
df_0 = df[df['PMT'] == 0]
df_1 = df[df['PMT'] == 1]

In [ ]:
X_0 = df_0.drop('PMT',axis=1)
y_0 = df_0['PMT']

In [ ]:
# Train Test split is 0.8, 0.2
X_0_train, X_0_test, y_0_train, y_0_test = train_test_split(X_0,y_0,test_size=0.2,train_size=0.8)

In [ ]:
X_1 = df_1.drop('PMT',axis=1)
y_1 = df_1['PMT']

In [ ]:
# Train Test split is 0.8, 0.2
X_1_train, X_1_test, y_1_train, y_1_test = train_test_split(X_1,y_1,test_size=0.2,train_size=0.8)

In [ ]:
train_0_df = pd.merge(X_0_train, y_0_train, left_index=True, right_index=True)
train_1_df = pd.merge(X_1_train, y_1_train, left_index=True, right_index=True)

In [ ]:
train_df = train_0_df.append(train_1_df)
train_df

,LICNSTAT_AK,LICNSTAT_AL,LICNSTAT_AR,LICNSTAT_AS,LICNSTAT_AZ,LICNSTAT_CA,LICNSTAT_CO,LICNSTAT_CT,LICNSTAT_DC,LICNSTAT_DE,...,ALEGATN1_Wrong Dosage Ordered of Correct Medication,ALEGATN1_Wrong Equipment,ALEGATN1_Wrong Medication Administered,ALEGATN1_Wrong Medication Dispensed,ALEGATN1_Wrong Medication Ordered,ALEGATN1_Wrong Patient,ALEGATN1_Wrong Procedure or Treatment,ALEGATN1_Wrong or Misdiagnosis (e.g. Original Diagnosis is Incorrect),ALEGATN1_Wrongful Life/Birth,PMT
549312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1338606,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
730967,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
331371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
793244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
456025,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1154410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1337309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1001910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
test_0_df = pd.merge(X_0_test, y_0_test, left_index=True, right_index=True)
test_1_df = pd.merge(X_1_test, y_1_test, left_index=True, right_index=True)

In [ ]:
test_df = test_0_df.append(test_1_df)
test_df

,LICNSTAT_AK,LICNSTAT_AL,LICNSTAT_AR,LICNSTAT_AS,LICNSTAT_AZ,LICNSTAT_CA,LICNSTAT_CO,LICNSTAT_CT,LICNSTAT_DC,LICNSTAT_DE,...,ALEGATN1_Wrong Dosage Ordered of Correct Medication,ALEGATN1_Wrong Equipment,ALEGATN1_Wrong Medication Administered,ALEGATN1_Wrong Medication Dispensed,ALEGATN1_Wrong Medication Ordered,ALEGATN1_Wrong Patient,ALEGATN1_Wrong Procedure or Treatment,ALEGATN1_Wrong or Misdiagnosis (e.g. Original Diagnosis is Incorrect),ALEGATN1_Wrongful Life/Birth,PMT
1196191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52630,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1307185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
674703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1539886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
806352,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1268865,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
481832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1465392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#checks
train_df['PMT'].sum() + test_df['PMT'].sum()

223926

In [ ]:
sev_train_df = pd.read_csv('/content/drive/MyDrive/Practicum/v1/train_df.csv')

In [ ]:
for i in train_df.columns:
  if i not in sev_train_df.columns and i != 'PMT':
    train_df.drop(i, axis = 1, inplace=True)

In [ ]:
for i in test_df.columns:
  if i not in sev_train_df.columns and i != 'PMT':
    test_df.drop(i, axis = 1, inplace=True)

In [ ]:
len(train_df.columns)

256

In [ ]:
len(test_df.columns)

256

In [ ]:
train_df.to_csv('/content/drive/MyDrive/Practicum/v1/prob_train_df.csv', index = False)  
test_df.to_csv('/content/drive/MyDrive/Practicum/v1/prob_test_df.csv', index = False)